.logo{
    background-color:wheat;

}
.logo h1{
    float: right;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
}
li{
    float: left;
}
li a{
    font-size: large;
    display: block;
    color: black;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
li a:hover{
    background-color: coral;
}


.content img{
    float: left;
    padding: 20px;
    
}
.content p{
    padding: 20px;
    text-align: center;
    word-spacing: 5px;
   
}
